<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="js/formulario.js"></script>
    </head>
    <body>
        <h1>Cadrasto de revistas</h1>
        <form ng-app="FormularioRevistas" ng-controller="ControladorFormulario">
            <label>Codigo de Barras:</label>
            <input type="text" id="codigo" ng-model="revista.codigo"/>
            <br>
            <label>Titulo da revista:</label>
            <input type="text" ng-model="revista.titulo" id="titulo"/>
            <br>
            <label>Numero de paginas:</label>
            <input type="number" ng-model="revista.pagina" id="paginas"/>
            <br>
            <label>Dada da publicacao:</label>
            <input type="date" ng-model="revista.publicacao" id="data"/>
            <br>
            <label>Quantidade em estoque:</label>
            <input type="number" ng-model="revista.qtde" id="quantidade"/>
            <br>
            <input type="submit" value="Cadastrar Revista" ng-click="cadrastrar()" id="cadrastrar"/>
        </form>
    </body>
</html>