astroid==2.0.4
autopep8==1.3.5
behave==1.2.6
behave-selenium==0.0.9
certifi==2018.8.24
Django==2.1
django-cors-headers==2.4.0
django-filter==2.0.0
djangorestframework==3.8.2
Faker==0.9.0
isort==4.3.4
lazy-object-proxy==1.3.1
Markdown==2.6.11
mccabe==0.6.1
parse==1.8.4
parse-type==0.4.2
pycodestyle==2.4.0
pylint==2.1.1
python-dateutil==2.7.3
pytz==2018.5
selenium==3.14.0
six==1.11.0
splinter==0.9.0
text-unidecode==1.2
typed-ast==1.1.0
urllib3==1.23
wrapt==1.10.11
